
<!DOCTYPE html>
<html>
<meta charset="utf-8">
<link rel="canonical" href="http://d3js.org/">
<title>Graphene | Beautiful Data</title>
<head>
  <style>

  @import url(style.css);

  #examples {
    width: 960px;
    height: 378px;
    margin-bottom: 2em;
  }

  .example img {
    float: left;
    margin-bottom: 13px;
    width: 226px;
    height: 180px;
    border: solid 2px #ccc;
  }

  .example:hover img {
    border-color: steelblue;
  }

  .example:not(:nth-child(4n)) img {
    margin-right: 13px;
  }

  </style>


  <script src="d3/d3.v3.js"></script>
  <script src="d3/d3.v3.min.js"></script>

</head>
<body>
  <div id="body">

    <header style="margin-bottom:50px;">‍
      <b><a href="./">Graphene</a></b>
      <h2>Beautiful Data</h2>
    </header>

    <div id="examples">
     <a href="/scatter.html"><img src="https://raw.github.com/gist/3887118/thumbnail.png" width="202"></a>
     <a href="/airports.html"><img src="https://a248.e.akamai.net/camo.github.com/0965990c401367a7bcef4c7c9cecd073d7b6d544/687474703a2f2f64336a732e6f72672f65782f616972706f7274732e706e67" width="202"></a>
     <a href="/home.html"><img src="https://raw.github.com/gist/3885705/thumbnail.png" width="202"></a>
     <a href="/home.html"><img src="https://a248.e.akamai.net/camo.github.com/75c89bc5be846d0a20380ddfd1aa6227317b92e2/687474703a2f2f64336a732e6f72672f65782f736c6f70652e706e67" width="202"></a>
   </div>


   <input type="filepicker" name="myName"/>
   <input id="name" type="form" />

   <script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
   <script type="text/javascript"> 

   filepicker.setKey('AYdPBJoBRaKh7NvZBMy0Qz');

    var name = $('#name').val();
    filepicker.pickAndStore({},{},function(fpfiles){
      var file = {};
      file['url'] = fpfiles['url'];
    window.location("/" + name);
    });

</script>
</body>
</html>
